@import url("./components/store.css");

.grid-container {
  padding: 1rem 0;
  background-color: var(--color-blue-600);
  margin: 5rem 0;
  display: grid;
  grid-template-areas:
    "img1 img2"
    "img1 img3";
  /* grid-gap: .4rem; */
}

.grid-item {
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img1 {
  grid-area: img1;
  background-image: url("../images/store/entreasestrelas.jpeg");
  height: 40rem;
}

.img2 {
  grid-area: img2;
  background-image: url("../images/store/arida.jpeg");
}

.img3 {
  grid-area: img3;
  background-image: url("../images/store/fobia.jpeg");
}

/* filter-options css */

.filter-options {
  display: flex;
  justify-content: center;
  margin: 3rem 0 1rem 0;
}

.filter-btn {
  background-color: var(--color-light);
  border: 1px solid var(--color-blue-200);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn a {
  font-size: 1.6rem;
  color: var(--color-blue-200);
}

.filter-btn:hover {
  background-color: var(--color-blue-200);
  & a {
    color: var(--color-light);
  }
}

/*btn default selecionado */
.filter-btn.focus {
  background-color: var(--color-blue-200);
  & a {
    color: var(--color-light);
  }
}

.filter-btn.focus:hover {
  background-color: var(--color-light);
  & a {
    color: var(--color-blue-200);
  }
}
