/******************** base ************************/
@import url("./components/header.css");
@import url("./components/banner.css");
@import url("./components/store.css");
@import url("./components/footer.css");
@import url("./components/responsive.css");
@import url("base-store.css");


:root {
  --body-font: "Quicksand", sans-serif;
  --color-blue-000: #00ffff;
  --color-blue-200: rgb(57, 58, 129);
  --color-blue-400: rgb(40, 56, 96);
  --color-blue-600: rgb(12, 12, 35);
  --color-green-200: rgb(0, 200, 180);
  --color-green-400: #1c8f86;
  --color-yellow-200: rgba(255, 194, 102, 1);
  --color-yellow-400: rgba(255, 165, 0, 1);
  --color-yellow-600: rgba(230, 134, 25, 1);
  --color-light: #f5f5f5;
  --color-grey-200: #c1c1c1;
  --color-grey-600: #838383;
  --color-price-new: #088e3d;
  --color-price-old: #dd312b;
  --color-transparent:#4e4f99f3;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

body {
  width: 100%;
  font-family: var(--body-font);
  background-color: var(--color-light);
  min-height: 100vh;
  color: var(--color-blue-600);
}

:focus {
  outline: 1.5px solid var(--color-blue-000); /* Adapte conforme o estilo do seu site */
}

/********************** MAIN *****************************/

main.main-content {
  margin-top: 1rem; /* Altura do logo-nav-container */
  padding: 1rem;
}

/* MEDIA QUERIES */

@media (max-width: 850px) {
  .search-nav-container {
    gap: 1px;
  }

  .search-item {
    width: 0rem;
    padding: 0rem;
  }

  .menu-container ul {
    gap: 0;
  }
}

.destak{
  color: var(--color-blue-000) !important;
}
